# Web scraping Assignment 2

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. 

You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.

This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [1]:
#importing all the required libraries
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [41]:
#connecting to webdriver on chrome
driver = webdriver.Chrome("chromedriver.exe")   #webdriver uploaded into pythonnp

In [17]:
#opening the URL using webdriver
url = "https://www.naukri.com/"
driver.get(url)

In [18]:
#Using webdriver searching the web element of the required search bar 
search_job = driver.find_element_by_class_name("suggestor-input")
search_job

In [19]:
#entering or passing the search attribute
search_job.send_keys("Data Analyst")

In [37]:
#using webdriver finding the webelement of the required search element
search_loc = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")
search_loc

In [38]:
#entering or passing the search attribute
search_loc.send_keys('bangalore')

In [39]:
#using webvdriver clicking submit button using absolute xpath method
submit_button = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
submit_button

In [40]:
submit_button.click()  #clicks the button

In [46]:
#scraping the job_title, job_location, company_name, exp_required using relative xpath

job_title_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
job_title_tags[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="2b83e4dc9e9f0a571af4dc3dbf9040cd", element="480344c1-83a9-42d9-828f-08a15ef45bd4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2b83e4dc9e9f0a571af4dc3dbf9040cd", element="e4ebeac2-edf0-498b-a88a-59cc1f05e044")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2b83e4dc9e9f0a571af4dc3dbf9040cd", element="31ff78b7-5cab-44bc-89e6-bbd5e01b0cd1")>]

In [49]:
job_title = []
for i in job_title_tags:
    job_title.append(i.text)
job_title[0:2]

['Hiring For Data Analyst I(SQL & Python)', 'Senior Data Analyst II']

In [51]:
#job_location
job_loc_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
job_loc_tags[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="2b83e4dc9e9f0a571af4dc3dbf9040cd", element="1f44aeee-93c7-4e63-8031-85163a6a6210")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2b83e4dc9e9f0a571af4dc3dbf9040cd", element="e9a3f2af-ad36-45f8-bb66-02d0214ccc21")>]

In [52]:
job_loc=[]
for i in job_loc_tags:
    job_loc.append(i.text)
job_loc[0:2]

['Bangalore/Bengaluru', 'Bangalore/Bengaluru']

In [62]:
#Company name, exp req
comp_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
exp_req = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')

In [65]:
#creating the empty lists and filling them with concerned attributes
comp_loc = []
for i in comp_tags:
    comp_loc.append(i.text)
exp_required = []
for i in exp_req:
    exp_required.append(i.text)

In [71]:
#Creating lists with limit of ten items
job_titles = job_title[0:10]
job_locations = job_loc[0:10]
comp_names = comp_loc[0:10]
exp = exp_required[0:10]

In [72]:
#Creating a dataframe as per the requirement
analysts_jobs = pd.DataFrame()
analysts_jobs["Job Title"]=job_titles
analysts_jobs["Location"]=job_locations
analysts_jobs["Company Name"]=comp_names
analysts_jobs["Experience"]=exp
analysts_jobs

,Job Title,Location,Company Name,Experience
0,Hiring For Data Analyst I(SQL & Python),Bangalore/Bengaluru,Clario India Pvt Ltd,0-2 Yrs
1,Senior Data Analyst II,Bangalore/Bengaluru,Flipkart,3-6 Yrs
2,Senior Data Analyst,Bangalore/Bengaluru,Flipkart,3-8 Yrs
3,Senior Data Analyst II,Bangalore/Bengaluru,Flipkart,2-4 Yrs
4,Senior Data Analyst II,Bangalore/Bengaluru,Flipkart,2-4 Yrs
5,Senior Data Analyst - Ads & Promotion Platform...,Bangalore/Bengaluru,Gojek,3-8 Yrs
6,Hiring Data analyst with Pharma Background acr...,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",HCL,6-11 Yrs
7,Data Coordinator | Data Analyst | MS Excel | T...,Bangalore/Bengaluru(Sadashiva Nagar),Inspiration Manpower Consultancy Pvt. Ltd.,4-7 Yrs
8,Lead Data Analyst - Flipkart Data science group,Bangalore/Bengaluru,Flipkart,1-3 Yrs
9,Data Analyst,Bangalore/Bengaluru,Flipkart,1-2 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. 

You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [73]:
#required libraries and the webdriver is already defined/loaded
#webdriver is assiged to "driver" variable

In [89]:
driver = webdriver.Chrome("chromedriver.exe")  #assigning the webdriver to a variable
url = "https://www.naukri.com/"
driver.get(url)    #opening the URl

In [85]:
search_tag1 = driver.find_element_by_class_name("suggestor-input")   #finding the search element tags
search_tag1.send_keys("Data Scientist")

In [90]:
search_tag2 = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")
search_tag2.send_keys("Bangalore")    #entering/passing the search input

In [91]:
#using absolute xpath for finding the search button
search_buton = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_buton.click()

In [97]:
#using relative xpath finding the job title tags and then scraping the job titles 
job_tit_tags= driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
job_titles1 = [] #creating empty list
for i in job_tit_tags:
    job_titles1.append(i.text)
job_name=job_titles1[0:10]

In [100]:
#using relative xpath finding the job location tags and then scraping the job locations 
job_loc_tags= driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
job_loc1 = [] #creating empty list
for i in job_loc_tags:
    job_loc1.append(i.text)
job_locas=job_loc1[0:10]

In [101]:
#using relative xpath finding the job location tags and then scraping the job locations 
job_comp_tags= driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
job_comp1 = [] #creating empty list
for i in job_comp_tags:
    job_comp1.append(i.text)
job_company=job_comp1[0:10]

In [102]:
#Creating a DataFrame as per the requirement
scientist = pd.DataFrame()
scientist["Job Title"]=job_name
scientist["Company Name"]=job_company
scientist["Location"]=job_locas
scientist

,Job Title,Company Name,Location
0,Cabin Crew Airbus April'22,IndiGo,"Guwahati, Kolkata, Mumbai, Nagpur, New Delhi, ..."
1,Urgent Opening For Permanent Work From Home - ...,Tech Mahindra,"Noida, Kolkata, Pune, Lucknow, Ahmedabad, Amri..."
2,Beauty Therapist,Kaya Skin Clinic,"Kolkata, Mumbai, Delhi, Pune, Chennai, Bengaluru"
3,Urgent Requirement in DXC technology _Salesfor...,DXC Technology,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo..."
4,React JS Developer | PAN India | Weekend Inter...,Mphasis,"Kochi/Cochin, Kolkata, Hyderabad/Secunderabad,..."
5,Urgent Opening in DXC Technology - Java Developer,DXC Technology,"Noida, Mumbai, Indore, Hyderabad/Secunderabad,..."
6,Hiring For International Voice process- Hydera...,Tech Mahindra,"Kolkata, New Delhi, Hyderabad/Secunderabad, Pu..."
7,Opening in DXC technology | Salesforce Lightni...,DXC Technology,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G..."
8,Hiring For HPOO,Wipro,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo..."
9,Salesforce CPQ Lightning Developer,DXC Technology,"Kolkata, Hyderabad/Secunderabad, Pune, Chennai..."

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
        You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

In [160]:
driver = webdriver.Chrome("chromedriver.exe")  #assigning the webdriver to a variable
url = "https://www.naukri.com/"
driver.get(url)    #opening the URl

In [161]:
search_ds = driver.find_element_by_class_name("suggestor-input")   #finding the search element tags
search_ds.send_keys("Data Scientist")

In [162]:
#using absolute xpath for finding the search button
search_b = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_b.click()

In [164]:
#applying location filter
loc_filter_tags = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/i")
loc_filter_tags.click()

In [165]:
#applying Salary Filter
sal_fil_tags = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i")
sal_fil_tags
sal_fil_tags.click()

In [166]:
#Scraping job-title, job-location, company name, experience required of first 10 jobs using relative xpath

In [170]:
ds_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
ds_tags[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="61030ffe93c5cfe770c64ff055d1173a", element="f718694a-2b96-4222-aa67-5eb523d34029")>,
 <selenium.webdriver.remote.webelement.WebElement (session="61030ffe93c5cfe770c64ff055d1173a", element="03806c17-a614-4fd8-82d1-81887d2fbe66")>]

In [171]:
job_tit =[] #creating empty list
for i in ds_tags:
    job_tit.append(i.text)

In [172]:
ds_cm_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
ds_exp_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
ds_loc_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')

In [173]:
comp_tits=[]
for i in ds_cm_tags:
    comp_tits.append(i.text)

In [174]:
exp_tits =[]
for i in ds_exp_tags:
    exp_tits.append(i.text)

In [175]:
loc_tits =[]
for i in ds_loc_tags:
    loc_tits.append(i.text)

In [176]:
job_tits = job_tit[0:10]
comp_tits=comp_tits[0:10]
exp_tits=exp_tits[0:10]
loc_tits=loc_tits[0:10]

In [178]:
#creating data frame as per requirement
ds_dataframe = pd.DataFrame()
ds_dataframe["Job Title"]=job_tits
ds_dataframe["Company"]=comp_tits
ds_dataframe["Experience"]=exp_tits
ds_dataframe["Location"]=loc_tits
ds_dataframe

,Job Title,Company,Experience,Location
0,"Excellent Opportunity For Freshers For AI/ML, ...",NTT Data,0-0 Yrs,"Noida, Kolkata, Hyderabad/Secunderabad, Pune, ..."
1,Data Analyst / Data Scientist / Business Analy...,GABA Consultancy services,0-0 Yrs,"Noida, New Delhi, Delhi / NCR"
2,Hiring For Senior Data Scientist-Noida,Lumiq.ai,2-6 Yrs,"Noida, New Delhi, Greater Noida"
3,Data scientist- Python,TeamPlus Staffing Solution Pvt Ltd,3-6 Yrs,Gurgaon/Gurugram
4,Junior Data Analyst/ Scientist- Fresher Position,Sejal Consulting Hub,0-3 Yrs,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab..."
5,Data Scientist _NLP,EXL,3-8 Yrs,"Bangalore/Bengaluru, Delhi / NCR\n(WFH during ..."
6,Data Scientist - MIND Infotech,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,4-8 Yrs,Noida
7,Data Scientist - MIND Infotech,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,4-8 Yrs,Noida
8,Only Fresher / Python Data Scientist / Trainee...,GABA Consultancy services,0-0 Yrs,"Noida, New Delhi, Gurgaon/Gurugram"
9,Lead Data Scientist,Indihire HR Consultants Private Limited,2-4 Yrs,Delhi / NCR\n(WFH during Covid)

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands andmore” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this pageyou can scrap the
required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom ofthe page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.

In [42]:
url = "https://www.flipkart.com/"
driver.get(url)

In [43]:
#for closing the pop up that occured
close = driver.find_element_by_xpath("/html/body/div[2]/div/div/button")
close.click()

In [44]:
input_tag = driver.find_element_by_class_name("_3704LK")   #finding the search element

In [45]:
input_tag.send_keys("Sunglasses")    #passing the variable name

In [46]:
search_tag = driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")

In [47]:
search_tag.click()   #clicking the search button

In [66]:
brand_list = []
product_des = []
price = []
#for navigating through three pages to scrape the brand names
for page in range(1,4,1):
    page_url="https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=" + str(page)
    driver.get(page_url)
    brand = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
    for i in range(len(brand)):
        brand_list.append(brand[i].text)
#for navigating through three pages to scrape the prod description        
for page in range(1,4,1):
    page_url="https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=" + str(page)
    driver.get(page_url)
    product =driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
    for i in range(len(product)):
        product_des.append(product[i].text)
#for navigating through three pages to scrape the price
for page in range(1,4,1):
    page_url="https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=" + str(page)
    driver.get(page_url)
    price1 = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
    for i in range(len(brand)):
        price.append(price1[i].text)

In [67]:
#now we make a data frame to display the details of first 100 products
sunglasses = pd.DataFrame()
sunglasses["Name"] = brand_list[0:100]
sunglasses["Description"]=product_des[0:100]
sunglasses["Price"]=price[0:100]

In [68]:
sunglasses

            Name                                        Description   Price
0         PIRASO              UV Protection Cat-eye Sunglasses (55)    ₹198
1        Ray-Ban                     Gradient Round Sunglasses (54)    ₹229
2           SRPM             UV Protection Wayfarer Sunglasses (50)    ₹253
3         SUNBEE              UV Protection Aviator Sunglasses (54)    ₹229
4         PIRASO  UV Protection, Polarized Wayfarer Sunglasses (...    ₹258
..           ...                                                ...     ...
95      Fastrack   UV Protection Rectangular Sunglasses (Free Size)    ₹719
96        PIRASO  Gradient, UV Protection Wayfarer Sunglasses (F...    ₹250
97     New Specs              UV Protection Aviator Sunglasses (54)    ₹238
98      Fastrack         UV Protection Round Sunglasses (Free Size)  ₹1,229
99  Silver Kartz                     Gradient Round Sunglasses (54)    ₹284

[100 rows x 3 columns]

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
       
       When you will open the above link you will reach to the below shown webpage .
        
        As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.

In [105]:
driver = webdriver.Chrome("chromedriver.exe")    #running webdriver

In [106]:
url1 = "https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace"
driver.get(url1)
#Opening the URl

In [107]:
#opening the reviews page by clicking show all reviews using absolute xpath
show_all = driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[8]/div/div/div[5]/div/a/div/span")
show_all

In [108]:
show_all.click()  #clicking the option

In [130]:
rating_list=[]     #Creating an empty list for storing ratings
#creating a for loop with range function for passing upto 12 pages
#defining the URL and then fetching the page using dribver.get()
#finding the rating tags on the page and using for loop to fill in the values to the list

for page in range(1,13):
    page_url = "https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=" + str(page)
    driver.get(page_url)
    rating = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
    for i in range(len(rating)):
        rating_list.append(rating[i].text)

rev_summary=[]
for page in range(1,13):
    page_url = "https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=" + str(page)
    driver.get(page_url)
    review = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
    for i in range(len(review)):
        rev_summary.append(review[i].text)
        
full_rev = []
for page in range(1,13):
    page_url = "https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=" + str(page)
    driver.get(page_url)
    full_revi = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
    for i in range(len(full_revi)):
        full_rev.append(full_revi[i].text)

In [136]:
#creating required data frame
iphone=pd.DataFrame()
iphone["Rating"]=rating_list[0:100]
iphone["Review"]=rev_summary[0:100]
iphone["Full Review"]=full_rev[0:100]

In [137]:
iphone

,Rating,Review,Full Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,5,Just wow!,"Not mere a phone , Its more than that for fun ..."
96,5,Perfect product!,Nice 👌👌👌👌👌👌
97,5,Fabulous!,MD sufiyan rider Owsm\nMobile nd battery mast ...
98,5,Wonderful,"Ok, so after almost 3 years I am again back in..."
99,4,Nice product,If you are looking for a premium phone under 5...

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the
search field.

You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the tick marked attributes

In [141]:
driver = webdriver.Chrome("chromedriver.exe")
url2="https://www.flipkart.com/"
driver.get(url2)  #getting the ul

In [142]:
#for closing the pop up that occured
close = driver.find_element_by_xpath("/html/body/div[2]/div/div/button")
close.click()

In [144]:
#for passing the search attribute
input_tag = driver.find_element_by_class_name("_3704LK")   #finding the search element
input_tag.send_keys("sneakers")

In [145]:
#for searching
search_tag = driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_tag.click()

In [159]:
#finding all the required element tags and finding the requiured attributes
brand_name = []
for page in range(1,4,1):
    page_url = "https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=" + str(page)
    driver.get(page_url)
    brand = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
    for i in range(len(brand)):
        brand_name.append(brand[i].text)

product_des=[]
for page in range(1,4,1):
    page_url = "https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=" + str(page)
    driver.get(page_url)
    product = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
    for i in range(len(product)):
        product_des.append(product[i].text)
        
price_sneak=[]
for page in range(1,4,1):
    page_url = "https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=" + str(page)
    driver.get(page_url)
    price = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
    for i in range(len(price)):
        price_sneak.append(price[i].text)

discount=[]
for page in range(1,4,1):
    page_url = "https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=" + str(page)
    driver.get(page_url)
    discount1 = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
    for i in range(len(discount1)):
        discount.append(discount1[i].text)

In [164]:
#making df as per the requirement
sneakers =  pd.DataFrame()
sneakers["Name"]=brand_name[0:100]
sneakers["Description"]=product_des[0:100]
sneakers["Price"]=price_sneak[0:100]
sneakers["Discount"]=discount[0:100]
sneakers

,Name,Description,Price,Discount
0,KWIK FIT,Kwik FIT casual sneaker shoes and partywear sh...,₹397,80% off
1,Noztile,Sneakers For Men,₹399,80% off
2,Magnolia,Sneakers For Men,₹448,55% off
3,Chevit,Super Stylish & Trendy Combo Pack of 02 Pairs ...,₹649,59% off
4,TR,Sneakers For Men,₹341,65% off
...,...,...,...,...
95,Navtrend,CR-1 Sneakers For Men,₹429,37% off
96,U.S. POLO ASSN.,Flex R Dual Sneakers For Men,"₹1,871",52% off
97,WHITEHUB,Casual Sneakers Shoes for Men Pack of 5 Combo(...,₹479,60% off
98,Magnolia,Echor Men's Sneakers Fashion Lightweight Runni...,₹399,70% off
99,corsac,Fashionable sneaker shoes Sneakers For Men,₹449,55% off

Q7: Go to the link - https://www.myntra.com/shoes
        
Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown inthe below image.

And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image.

In [377]:
driver = webdriver.Chrome("chromedriver.exe")
urlm="https://www.myntra.com/shoes"
driver.get(urlm)  #getting the ul

In [378]:
#selecting black color using absolute xpath
black = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")
black.click()

In [379]:
#the price filter
price_filter = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")
price_filter.click()

In [381]:
#creating the empty lists
#defining the element tags and then making a for loop to fill in the values to list
#after the 3 requried element tagss are defined and filled in using for loop defining 'click' to next page using relative xpath
brand2=[]
prod2=[]
price2=[]
for page in range(5):
    brand_data=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
    for n in range(len(brand_data)):
        brand2.append(brand_data[n].text)
    prod_data=driver.find_elements_by_xpath('//h4[@class="product-product"]')
    for m in range(len(prod_data)):
        prod2.append(prod_data[m].text)
    price_data=driver.find_elements_by_xpath('//div[@class="product-price"]')
    for k in range(len(price_data)):
        price2.append(price_data[k].text)
    nextpage=driver.find_element_by_xpath('//li[@class="pagination-number"]')    #this is  to goto the nextpage using RXPATH
    nextpage.click()

In [385]:
#creating a DataFrame
myntra = pd.DataFrame()
myntra["Brand"]=brand2[0:100]
myntra["Product Description"]=prod2[0:100]
myntra["Price"]=price2[0:100]
myntra

,Brand,Product Description,Price
0,Heel & Buckle London,Men Formal Leather Derby,Rs. 7990
1,ROSSO BRUNELLO,PU Block Pumps with Buckles,Rs. 7999
2,ROSSO BRUNELLO,Textured PU Block Pumps,Rs. 7999
3,Bugatti,Men Solid Formal Oxfords,Rs. 8999
4,Saint G,Leather Party Block Mules,Rs. 7380Rs. 8200(10% OFF)
...,...,...,...
95,Geox,Women Leather Pumps,Rs. 8999
96,ROSSO BRUNELLO,Printed PU Kitten Sandals,Rs. 8499
97,Sole To Soul,High-Top Platform Heeled Boots,Rs. 8900
98,Saint G,Striped Suede Flatform Heeled Boots,Rs. 8415Rs. 9900(15% OFF)
99,Heel & Buckle London,Men Formal Leather Derby,Rs. 7990

Q8: Go to webpage https://www.amazon.in/

        Enter “Laptop” in the search field and then click the search icon.

        Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price
As shown in the below image as the tick marked attributes.

In [388]:
driver = webdriver.Chrome("chromedriver.exe")
amazon_url="https://www.amazon.in/"
driver.get(amazon_url)  #getting the url

In [396]:
#using absolute xpath searchbar is found
search_ama = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
search_ama

In [397]:
search_ama.send_keys("laptop")

In [399]:
search_on =driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search_on.click()

In [404]:
#selecting intel i7 cpu as filter and i9 is not found
i7_filter =driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[4]/li[12]/span/a/div/label/i")
i7_filter.click()

In [417]:
tt=[]
title_taags = driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title_taags:
    tt.append(i.text)
tt[0:3]

['Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD IPS 400Nits Thin & Light Laptop(16GB/512GB SSD/Windows 11/Office 2021/Iris Xe Graphics/Backlit Kb/Fingerprint Reader/2Yr Warranty/Black/878gms),4ZR1F38024',
 'ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) FHD 144Hz, Intel Core i7-11600H 11th Gen, 4GB RTX 3050 Graphics, Gaming Laptop (16GB/512GB SSD/Windows 10/Office 2019/Gray/2.3 Kg), FX566HCB-HN299TS',
 'ASUS VivoBook 14 (2021), 14-inch (35.56 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Integrated Graphics/Office 2021/Windows 11/Silver/1.6 Kg), X415JA-EK701WS']

In [446]:
rt=[]
ratings_taags =driver.find_elements_by_xpath('//span[@class="a-icon-alt"]')
for i in ratings_taags:
    rt.append(i.text)
rt[0:3]

['', '', '']

In [421]:
pp=[]
pricee=driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
for i in pricee:
    pp.append(i.text)
pp[0:3]

['83,990', '89,490', '57,490']

In [447]:
#creating dataframe
amazon = pd.DataFrame()
amazon["Product Name"]=tt[0:10]
amazon["Rating"]=rt[0:10]
amazon["Price"]=pp[0:10]
amazon

                                        Product Name Rating     Price
0  Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD ...           83,990
1  ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...           89,490
2  ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...           57,490
3  Mi Notebook Ultra 3.2K Resolution Display Inte...           77,499
4  ASUS TUF Gaming F17 (2022), 17.3-inch (43.94 c...         1,35,990
5  HP Pavilion x360 11th Gen Intel Core i7 14 inc...           91,800
6  Microsoft Surface Studio 14.4 inches Touchscre...         3,73,999
7  ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...           89,490
8  (Renewed) Acer Nitro 5 11th Gen Intel Core i5-...           55,992
9  Lenovo ThinkBook Yoga 14s Intel Core i7 11th G...           87,990

Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location.
    
    You have to scrape company name, No. of days ago when job was posted, Rating of the company.
    
    This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter
“Data Scientist” and click on search button.
4. You will reach to the following web page click on location and in place of “Search location” enter
“Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data

In [3]:
driver = webdriver.Chrome("chromedriver.exe")

In [4]:
url = "https://www.ambitionbox.com/"
driver.get(url)

In [5]:
#Clicking on the Jobs option on the homepage
jobs_click = driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[6]")
jobs_click

In [6]:
jobs_click.click()

In [8]:
#In place of “Search by Designations, Companies, Skills” enter “Data Scientist” and click on search button(absolute xpath)
ds_search = driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div/div/div/div/span/input")
ds_search.send_keys("Data Scientist")

In [9]:
ds_but = driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div/div/div/button/span")
ds_but.click()

In [24]:
#in place of “Search location” enter “Noida” and select location “Noida” from drop down.
loc_click = driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[1]/i")
loc_click.click()

In [26]:
loc_enter = driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input")
loc_enter.send_keys("Noida")  #entering the search location as noida

In [27]:
click_radio = driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/input")
click_radio   #finding the radio element tag

In [28]:
click_radio.click()  #clicking  radio buttom

In [38]:
# scraping company name, No. of days ago when job was posted, Rating of the company by relative xpath
comp_name = driver.find_elements_by_xpath('//a[@class="title noclick"]')
company_names=[]
days_ago = driver.find_elements_by_xpath('//span[@class="body-small-l"]')
days_agoo = []
rating_cp = driver.find_elements_by_xpath('//span[@class="body-small"]')
rating_company = []

In [39]:
for i in comp_name:
    company_names.append(i.text)
for i in days_ago:
    days_agoo.append(i.text)
for i in rating_cp:
    rating_company.append(i.text)

In [60]:
#slicing the elements in intervalk of 2
post_p = days_agoo[::2]
post_p

['9d ago',
 '10d ago',
 '10d ago',
 '21d ago',
 '18d ago',
 '8d ago',
 '25d ago',
 '3d ago',
 '10d ago',
 '1mon ago']

In [63]:
#creating the requried dataframe for first 10 jobs
a_box = pd.DataFrame()
a_box["Name"]=company_names
a_box["Posting Period"]=post_p
a_box["Rating"]=rating_company

In [64]:
a_box

                                                Name Posting Period Rating
0  Excellent Opportunity For Freshers For AI/ML, ...         9d ago    3.9
1  HCL Hiring Data Scientist (Loc: Noida / Chenna...        10d ago    3.8
2                                     Data Scientist        10d ago    4.2
3                                  Data Scientist-II        21d ago    4.2
4           HCL Tech Opening - Senior Data Scientist        18d ago    3.8
5                                     Data Scientist         8d ago    3.9
6      Urgent Requirement || Data Scientist || Noida        25d ago    3.8
7                   Data Scientist with NLP & Python         3d ago    3.8
8                                     Data Scientist        10d ago    3.7
9       Looking For Senior Data Scientist For Denave       1mon ago    4.0

Q10: Write a python program to scrape the salary data for Data Scientist designation.

    You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.

    The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image.
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and
then click on “Data Scientist”.
You have to scrape the data ticked in the above image.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average
salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.

In [65]:
driver = webdriver.Chrome("chromedriver.exe")

In [66]:
url10 = "https://www.ambitionbox.com/"
driver.get(url10)

In [68]:
#Clicking on the salaries option on the homepage
salaries_click = driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[4]")
salaries_click.click()

In [71]:
#entering data scientist in search job profile
s_j_p = driver.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input")
s_j_p.send_keys("Data Scientist")

In [79]:
select = driver.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]")

In [94]:
#scrape company name, total salary record, average salary, minimum salary, maximum salary, experience required
com_nm = driver.find_elements_by_xpath('//div[@class="name"]')
com_nms = []
for i in com_nm:
    com_nms.append(i.text)
com_nms

['Ab Inbev\nbased on 28 salaries',
 'ZS\nbased on 15 salaries',
 'Optum\nbased on 25 salaries',
 'Fractal Analytics\nbased on 77 salaries',
 'Tiger Analytics\nbased on 33 salaries',
 'UnitedHealth\nbased on 52 salaries',
 'Verizon\nbased on 14 salaries',
 'Ganit Business Solutions\nbased on 13 salaries',
 'Ericsson\nbased on 43 salaries',
 'Deloitte\nbased on 57 salaries']

In [95]:
avg_sal =driver.find_elements_by_xpath('//p[@class="averageCtc"]')
avg_sals=[]
for i in avg_sal:
    avg_sals.append(i.text)
len(avg_sals)

10

In [98]:
min_max_sal =driver.find_elements_by_xpath('//div[@class="value body-medium"]')
mmsal=[]
for i in min_max_sal:
    mmsal.append(i.text)
mmsal

['₹ 15.0L',
 '₹ 25.5L',
 '₹ 9.5L',
 '₹ 20.0L',
 '₹ 11.0L',
 '₹ 21.3L',
 '₹ 9.5L',
 '₹ 22.0L',
 '₹ 8.3L',
 '₹ 20.0L',
 '₹ 8.3L',
 '₹ 20.5L',
 '₹ 10.0L',
 '₹ 21.0L',
 '₹ 8.5L',
 '₹ 15.0L',
 '₹ 5.8L',
 '₹ 24.0L',
 '₹ 6.9L',
 '₹ 23.4L']

In [119]:
mix_sals = mmsal[::2]

In [120]:
mix_sals

['₹ 15.0L',
 '₹ 9.5L',
 '₹ 11.0L',
 '₹ 9.5L',
 '₹ 8.3L',
 '₹ 8.3L',
 '₹ 10.0L',
 '₹ 8.5L',
 '₹ 5.8L',
 '₹ 6.9L']

In [122]:
maxsal = mmsal[1::2]
maxsal

['₹ 25.5L',
 '₹ 20.0L',
 '₹ 21.3L',
 '₹ 22.0L',
 '₹ 20.0L',
 '₹ 20.5L',
 '₹ 21.0L',
 '₹ 15.0L',
 '₹ 24.0L',
 '₹ 23.4L']

In [128]:
exp_req = driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]')

In [129]:
ex_req=[]
for i in exp_req:
    ex_req.append(i.text)
ex_req

['Data Scientist\n . \n3-4 yrs exp',
 'Data Scientist\n . \n2 yrs exp',
 'Data Scientist\n . \n3-4 yrs exp',
 'Data Scientist\n . \n2-4 yrs exp',
 'Data Scientist\n . \n3-4 yrs exp',
 'Data Scientist\n . \n2-4 yrs exp',
 'Data Scientist\n . \n4 yrs exp',
 'Data Scientist\n . \n4 yrs exp',
 'Data Scientist\n . \n3-4 yrs exp',
 'Data Scientist\n . \n2-4 yrs exp']

In [132]:
#creating a data frame
ds = pd.DataFrame()
ds["Company Name & Salary Record"]=com_nms
ds["Average Salary"]=avg_sals
ds["Minimum Salary"]=mix_sals
ds["Maximum Salary"]=maxsal
ds["Experience Required"]=ex_req
ds

,Company Name & Salary Record,Average Salary,Minimum Salary,Maximum Salary,Experience Required
0,Ab Inbev\nbased on 28 salaries,₹ 20.3L,₹ 15.0L,₹ 25.5L,Data Scientist\n . \n3-4 yrs exp
1,ZS\nbased on 15 salaries,₹ 15.3L,₹ 9.5L,₹ 20.0L,Data Scientist\n . \n2 yrs exp
2,Optum\nbased on 25 salaries,₹ 15.1L,₹ 11.0L,₹ 21.3L,Data Scientist\n . \n3-4 yrs exp
3,Fractal Analytics\nbased on 77 salaries,₹ 15.1L,₹ 9.5L,₹ 22.0L,Data Scientist\n . \n2-4 yrs exp
4,Tiger Analytics\nbased on 33 salaries,₹ 14.4L,₹ 8.3L,₹ 20.0L,Data Scientist\n . \n3-4 yrs exp
5,UnitedHealth\nbased on 52 salaries,₹ 13.9L,₹ 8.3L,₹ 20.5L,Data Scientist\n . \n2-4 yrs exp
6,Verizon\nbased on 14 salaries,₹ 12.7L,₹ 10.0L,₹ 21.0L,Data Scientist\n . \n4 yrs exp
7,Ganit Business Solutions\nbased on 13 salaries,₹ 12.4L,₹ 8.5L,₹ 15.0L,Data Scientist\n . \n4 yrs exp
8,Ericsson\nbased on 43 salaries,₹ 11.9L,₹ 5.8L,₹ 24.0L,Data Scientist\n . \n3-4 yrs exp
9,Deloitte\nbased on 57 salaries,₹ 11.7L,₹ 6.9L,₹ 23.4L,Data Scientist\n . \n2-4 yrs exp